<!DOCTYPE html>
<html>
<head>
	<title>start</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <style type="text/css">
    	#header{
        position: fixed;
        width: 100vw;
        height:8vh;
        background-color:#3CB371;
      }
        .form-popup {
          position: absolute;
          margin-top:5%;
          margin-left:30%;
          width:40vw;
          height:62vh;
          background-color:#f2f2f2;;
        }
        .button {
          background-color: #3CB371;
          border: none;
          color: white;
          padding: 1%;
          width:20vw;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 120%;
          cursor: pointer;
        }
        .input{
            padding: 1% 2%;
            width:20vw;
            margin-bottom:1%;
            text-align: center;
        }
        .inputtext{
            padding: 1% 2%;
             width:20vw;
            margin-bottom:1%;
            text-align: center;
        }
        #box{
            position:absolute;
            margin-top:5%;
            width:100vw;
        }
        .form-css{
          position:relative;
          left:25%;
          top:5%;

        }
        *:focus{
        outline:none;
       }
    </style>
</head>
<body>
	<div id="header">
		<p style="color: white;text-align: center;font-size:160%;padding:1%;font-weight:bolder;">Hello <%= adminName%></p> 
	</div>	<br>
	<div id="box" style="display:flex;">
    <button style="border:1px solid white" class ="button"  id ="openCategory">Add Category</button>
    <div class ="form-popup" id="Category">
        <form class="form-css" action="/dashboard/category" method="POST">
            <input class="input" type="text" name="category" placeholder="category"><br>
            <button class ="button" type="submit" name="sbtCat" >Add Category</button>
        </form>
    </div><br>
    <!-- <p id="catList" style="color: red">sjakddd<%= parentCategories[0].title %></p><br> -->
     <button style="border:1px solid white" class ="button" id="openSubCategory">Add Sub-Category</button>
     <div class="form-popup" id="SubCategory">
        <form class="form-css" action="/dashboard/subcategory" method="POST">
            <input class="input" type="text" name="subcategory" placeholder="category"><br>
            <input class="input" type="text" name="category" placeholder="parent category"><br>
            <datalist id="catList"></datalist>
            <button class ="button" type="submit" name="sbtCat">Add sub-category</button>
        </form>
    </div><br>
    <button style="border:1px solid white" class ="button" id="openBrand">Add-Brand</button>
    <div class="form-popup" id="Brand">
        <form class="form-css" action="/dashboard/brand" method="POST">
            <input class="input" type="text" name="brand" placeholder="brand"><br>
            <button class ="button" type="submit" name="sbtBrand" >Add Brand</button>
        </form>
    </div><br>
    <button style="border:1px solid white" class ="button" id="openSubBrand">Add-SubBrand</button>
     <div class="form-popup" id="SubBrand">
        <form class="form-css" action="/dashboard/subbrand" method="POST">
            <input class="input" type="text" name="subbrand" placeholder="brand"><br>
            <input class="input" type="text" name="brand" placeholder="parent brand"><br>
            <datalist id="brandList"></datalist>
            <button class ="button" type="submit" name="sbtBrand">Add sub-brand</button>
        </form>
    </div><br>
    <button style="border:1px solid white" class ="button" id="openProduct">Add-Product</button>
    <div class ="form-popup" id = "Product">
        <form class="form-css" action="/dashboard/product" method="POST">
            <input class="input" type="text" name="name" placeholder="name"><br>
            <textarea class="inputtext"type="text" name="description" placeholder="description" ></textarea><br>
            <input class="input" type="float" name="price" placeholder="price(INR)"><br>
            size-s<input type="checkbox" name="size_s" value="S">
            size-m<input type="checkbox" name="size_m" value="M">
            size-l<input type="checkbox" name="size_l" value="L">
            size-xl<input type="checkbox" name="size_xl" value="XL"><br>
            size-uk8<input type="checkbox" name="size_eight" value="UK8">
            size-uk9<input type="checkbox" name="size_nine" value="UK9">
            size-uk10<input type="checkbox" name="size_ten" value="UK10">
            size-uk11<input type="checkbox" name="size_eleven" value="UK11"><br>
            <input class="input" type="text" name="keywords" placeholder="keywords"><br>
            <input class="input" type="text" name="category" placeholder="Category">
            <datalist id="categoryList"></datalist>
            <input class="input" type="text" name="subcategory" placeholder="Sub-category">
            <datalist id="subcatList"></datalist>
            <input class="input" type="text" name="brand" placeholder="brand">
            <datalist id="brandsList"></datalist><br>
            <button class ="button" type="submit" name="sbtPro">Add Product</button>
        </form>
        <form class="form-css" action="/dashboard/proimage" method="POST" enctype="multipart/form-data" onsubmit="closeProduct()">
            <input style="font-size: 112%;margin-top:1%;background-color:#3CB371;color:white;" type="file" name="image" onchange="form.submit()"> 
        </form>
    </div>
    </div>
</body>
<script type="text/javascript">
	var  n = "<%= adminName %> ";
	var arr=  JSON.parse('<%- JSON.stringify(parentCategories) %>');
	var options='';
	for(var i=0;i<arr.length;i++){
		options+='<option value="'+arr[i].title+'"/>';
	}
	document.getElementById("catList").innerHTML = options;

	var arr2=  JSON.parse('<%- JSON.stringify(parentBrands) %>');
	var options2='';
	for(var i=0;i<arr2.length;i++){
		options2+='<option value="'+arr2[i].title+'"/>';
	}
	document.getElementById("brandList").innerHTML = options2;

	document.getElementById("categoryList").innerHTML = options;
	document.getElementById("brandsList").innerHTML = options2;
	var opt='';
	for(var i=0;i<arr.length;i++){
		opt+='<option value="'+arr[i].subCat.title+'"/>';
	}
	document.getElementById("subcatList").innerHTML = opt;


  $(document).ready(function(){
      $("#Category,#SubCategory,#Brand,#SubBrand,#Product").hide();
      $("#openCategory").click(function(){
            $("#Category").toggle(800);
            $("#SubCategory,#Brand,#SubBrand,#Product").hide();
      });
      $("#openSubCategory").click(function(){
            $("#SubCategory").toggle(800);
            $("#Category,#Brand,#SubBrand,#Product").hide();
      });
      $("#openBrand").click(function(){
            $("#Brand").toggle(800);
            $("#Category,#SubCategory,#SubBrand,#Product").hide();
      });
      $("#openSubBrand").click(function(){
            $("#SubBrand").toggle(800);
            $("#Category,#SubCategory,#Brand,#Product").hide();
      });
      $("#openProduct").click(function(){
            $("#Product").toggle(800);
            $("#Category,#SubCategory,#Brand,#SubBrand").hide();
      });
  });
</script>
</html>