<!DOCTYPE html>
<html>
<head>
	<title>start</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <link rel="shortcut icon" href="../logo/logo.png">
    <style type="text/css">
    	#header{
    		position: fixed;
    		width: 100vw;
    		height:8vh;
    		background-color:#3CB371;
    	}
    	#searchbox{
    		position: relative;
    		left:25%;
    		top:20%;
    		width:40%;
    		height:60%;
    		background-color:white;
    	}
    	#searchInput{
    		position: relative;
    		left:0%;
    		top:0%;
    		width:100%;
    		height:100%;
    	}
    	#logout,#usericon,#cart{
    		position: absolute;
    		margin-left: 85vw;
    		margin-top:-2.5vh;
    		color:black;
    		font-size:1.2vw;
    		z-index: +1;
    		border: none;
    		background-color: #3CB371;
    		color: white;
    		font-weight: bold;
    	}
    	#cart{
    		margin-left: 80vw;
    	}
    	#usericon{
    		margin-left: 70vw;
    	}
    	#main{
    		position: absolute;
    		top:9vh;
    		width:100vw;
    		background-color:#f2f2f2;
            display:flex;
            flex-wrap:wrap;
    	}
    	#sidenav{
    		position: relative;
    		float: left;
    		margin-top:0.5%;
    		margin-bottom:0.5%;
    		left:3%;
    		width:38vw;
    		background-color:white;
    	}
    	#mainnav{
    		position: relative;
    		margin-top:0.5%;
    		margin-bottom:0.5%;
    		left:4%;
    		width:55%;
    		background-color:white;
    	}
    	.selIcon{
            position: relative;
            border:none;
            font-weight: bold;
            font-family: "Comic Sans MS", cursive, sans-serif;
            font-size:130%;
            width:45%;
            margin:2%;
            padding:1%;
            background-color: #3CB371;
            color:white;
        }
        #mainnav > p {
            position:relative;
            width:100%;
            font-family: Georgia, serif;
            padding:1%;
            padding-left:3%;
            font-size:160%;
        }
    	#mainnav > p:nth-child(1){
            font-size:160%;
            height:10%;
            font-weight: bold;
        }
        #mainnav > p:nth-child(2){
            font-size:180%;
            height:10%;
            font-weight: bold;
        }
         #mainnav > p:nth-child(3){
            font-family:monospace;
            font-size:100%;
            color:#3CB371;
            height:15%;
        }
        #mainnav > p:nth-child(4){
            font-size:120%;
            height:30%;
        } 
        #mainnav > p:nth-child(5){
            font-size:140%;
            height:10%;        }
        #mainnav > p:nth-child(6){
            font-size:140%;
            height:;
        }
        #selSize{

        }
    	*:focus{
        outline:none;
       }
       body{
        overflow-x: hidden;
        scroll-behavior:smooth;
       }
    </style>
</head>
<body>
	<div id="header">
		<form id="searchbox" action="/home/search" method="GET">
	 		<input id="searchInput" type="text" name="searchParam" placeholder="Search for products, brands and more ">
	 	</form>
	 	<!-- <label for="searchInput"><p id="searchIcon"><span class="glyphicon glyphicon-search custom-color"></span></p></label> -->
	 	<button id="cart" onclick="location.href='/home/cart'">Cart</button>
		<button id="logout" onclick="location.href='/logout'">Logout</button>

		<p id="usericon">Hello, <%= userName %></p> 
	</div>
	<div id="main">
		<div id="sidenav">
			<img src="/productImages/<%= product.image %>" style="width:35vw;height:60vh;">
            <div style="margin-top:2%;display: flex;flex-wrap: wrap;width:100%;">
                    <form id="form1" style="background-color:white;width:50%;" action="/home/cartadd" method="get" >
                        <input type="hidden" name="product" value="<%= product.name %>" >
                        <input type="hidden" id="atcSize" name="size" value="">
                        <button class="selIcon" id="atcBtn" style="width:90%;" type="submit">ADD TO CART</button>
                    </form>
                    <form id="form2" style="background-color:white;width:50%;" action="/home/buyproduct" method="get" >
                        <input type="hidden" name="product" value="<%= product.name %>">
                        <input type="hidden" id="bySize" name="size" value="">
                        <button class="selIcon" id="bnBtn" style="width:95%;" type="submit">BUY NOW</button>
                   </form>
            </div>
            
		</div>
		<div id="mainnav">
			<p ><%= product.name %></p>
            <p>Rs. <%= product.price %></p>
            <p><%= product.description %></p>
            <p><b>Available Offers:</b> <br>
                
                    Bank Offer 10% Instant Discount on Mastercard on Fashion for First 3 Prepaid Payments T&C <br>
                    Bank Offer 5% Unlimited Cashback on Flipkart Axis Bank Credit Card T&C <br>
                    Bank Offer Extra 5% off* with Axis Bank Buzz Credit Card T&C <br>
                    Special Price Get extra 5% off (price inclusive of discount) T&C
                
            </p>
            <p><b>Size :</b>
                <span><select id="selSize" style="border:none;background-color:white;padding:1%;font-size:80%;color:#3CB371;font-weight:bold;width:10%;">
                    <% for(var i=0;i< product.size.length;i++) { %>
                        <option><%= product.size[i] %></option>
                    <% } %>
                </select></span>
            </p>
            <p><b>Tags :</b>
                <% for(var i=0;i< product.keywords.length;i++) { %>
                    <span><%= product.keywords[i] %></span>
                <% } %>
            </p>
		</div>
	</div>
	
</body>
<script type="text/javascript">
	$(document).ready(function(){
         var s=$("#selSize").val();
        $("#selSize").change(function(){
             s=$("#selSize").val();
        });
       
		$("#bnBtn").click(function(){
            
            $("#bySize").val(s);
            $("#form2").submit();
        });
        $("#atcBtn").click(function(){
            
            $("#atcSize").val(s);
            $("#form1").submit();
        })
	})

</script>
</html>
