<!DOCTYPE html>
<html>
<head>
	<title>start</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <style type="text/css">
    	#header{
    		position: fixed;
    		width: 100vw;
    		height:8vh;
    		background-color:#3CB371;
    	}
    	#searchbox{
    		position: relative;
    		left:25%;
    		top:20%;
    		width:40%;
    		height:60%;
    		background-color:white;
    	}
    	#searchInput{
    		position: relative;
    		left:0%;
    		top:0%;
    		width:100%;
    		height:100%;
    	}
    	#register,#usericon,#login{
    		position: absolute;
    		margin-left: 85vw;
    		margin-top:-2.5vh;
    		color:black;
    		font-size:2.2vmin;
    		z-index: +1;
    		border: none;
    		background-color: #3CB371;
    		color: white;
    		font-weight: bold;
    	}
    	#login{
    		margin-left: 80vw;
    	}
    	#usericon{
    		margin-left: 70vw;
    	}
    	#main{
    		position: absolute;
    		top:9vh;
    		width:100vw;
    		background-color:#f2f2f2;
    	}
    	#sidenav{
    		position: relative;
    		float: left;
    		margin-top:0.5%;
    		margin-bottom:0.5%;
    		left:0.5%;
    		width:20%;
    		background-color:white;
    	}
    	#mainnav{
    		position: relative;
    		margin-top:0.5%;
    		margin-bottom:0.5%;
    		left:1%;
    		width:78%;
    		background-color:white;
    		display: flex;
    		flex-wrap: wrap;
    	}
    	.productBox {
    		background-color:white;
    		width:25%;
    		height:40%;
    		margin:4%;
    		padding:1%;
    		border:1px solid lightgrey;
    		box-shadow:5px 5px 5px 1px grey;
    	}
    	#catHead{
    		position: relative;
    		left:2%;
    		margin-top:3%;
    		font-family: "Comic Sans MS", cursive, sans-serif;
    		font-weight: bold;
    	}
    	.category{
    		position: relative;
    	}
    	#brandHead{
    		position: relative;
    		left:2%;
    		margin-top:5%;
    		font-family: "Comic Sans MS", cursive, sans-serif;
    		font-weight: bold;
    	}
    	.category{
    		position: relative;
    	}
    	.slideShow{
       	   position:relative;
           width:98%;
           height:50vh;
           margin-top:1%;
           margin-left:1%;
           background-color:red;
       }
        .controls{
       	  position:absolute;
       	  top:45%;
       	  left:0%;
       	  background-color:white;
       	  color:#3CB371;
       }
       #rightCtrl{
           left:98%;
       }
       #rightCtrl:hover{
        cursor: pointer;
       }
       .slides >img{
           position: absolute;
           width:100%;
           height:100%;
           max-height:100%;

       }
    	*:focus{
        outline:none;
       }
       body{
        overflow-x: hidden;
        scroll-behavior:smooth;
       }
    </style>
</head>
<body>
	<div id="header">
		<form id="searchbox" action="/home/search" method="GET">
	 		<input id="searchInput" type="text" name="searchParam" placeholder="Search for products, brands and more ">
	 	</form>
	 	<!-- <label for="searchInput"><p id="searchIcon"><span class="glyphicon glyphicon-search custom-color"></span></p></label> -->
		<button id="login" onclick="location.href='/login'">Login</button>
		<button id="register" onclick="location.href='/register'">Register</button>

	</div>
	<div id="main">
		<div id="sidenav">
			<p id="catHead">CATEGORIES</p>
			<div class="category">
				<% for(var i=0;i < parentCategories.length;i++) { %> 
					<div style="">
						<div>
							<div style="position:relative;float:left;width:100%;background-color:white;text-align:center;padding:2%;border-top:1px solid #3CB371;border-bottom:1px solid #3CB371;color:#3CB371;font-weight:bold;">
								<form action="/home/category" method="post">
									<input style="border:none;background-color:white;font-size:2.5vmin;" type="submit" name="category" value="<%= parentCategories[i].title %>" >
								</form>
							</div>
							<!-- <div style="position:relative;float:right;width:20%;">
								<button style="width:100%;border:none;height:100%;font-size:2.5vmin;">sub</button>
							</div> -->
						</div>
						<div class="subcategory" style="padding:1%;" >
							<% for(var j=0;j< parentCategories[i].subCat.length;j++){ %>
								<form action="/home/subcategory" method="post">
									<input type="hidden" name="cat" value="<%= parentCategories[i].title %>">
									<input style="border:none;font-size:2vmin;width:100%;text-align:left;background:linear-gradient(to bottom,#f2f2f2,#ffffff);width:100%;padding:1%;padding-left:5%;font-family:monospace;"type="submit" name="subcat" value="<%= parentCategories[i].subCat[j].title %>" >
								</form>
							<% } %>
						</div>	
					</div>
					
				<% } %>
			</div>
			<p id="brandHead">BRANDS</p>
				<div class="brand">
					<% for(var i=0;i < parentBrands.length;i++) { %> 
						<div style="">
							<div>
								<div style="position:relative;float:left;width:100%;background-color:white;text-align:center;padding:2%;border-top:1px solid #3CB371;border-bottom:1px solid #3CB371;color:#3CB371;font-weight:bold;">
									<form action="/home/brand" method="post">
										<input style="border:none;background-color:white;font-size:2.5vmin;" type="submit" name="brand" value="<%= parentBrands[i].title %>" >
									</form>
								</div>
								<!-- <div style="position:relative;float:right;width:20%;">
									<button style="width:100%;border:none;height:100%;font-size:2.5vmin;">sub</button>
								</div> -->
							</div>
							<div class="subbrand">
								<% for(var j=0;j< parentBrands[i].subBrand.length;j++){ %>
									<form action="/home/subbrand" method="post">
										<input type="hidden" name="brand" value="<%= parentBrands[i].title %>">
										<input style="border:none;font-size:2vmin;width:100%;text-align:left;background:linear-gradient(to bottom,#f2f2f2,#ffffff);width:100%;padding:1%;padding-left:5%;font-family:monospace;" type="submit" name="subbrand" value="<%= parentBrands[i].subBrand[j].title %>" >
									</form>
								<% } %>
							</div>
						</div>	
					<% } %>
				</div>
		</div>
		<div id="mainnav">
			<div class="slideShow">
		   	   <div class="slides">
		   	   	 <img style="opacity:1" src="/slides/img5.jpg">
		   	   </div>
		   	   <div class="slides">
		   	   	 <img  style="opacity:1" src="/slides/img6.jpg">
		   	   </div>
		   	   <div class="slides">
		   	   	 <img  style="opacity:1" src="/slides/img3.jpg">
		   	   </div>
		   	   <div class="slides">
		   	   	 <img  style="opacity:1" src="/slides/img4.jpg">
		   	   </div>
		   	   <a class="controls" onclick="nextSlide(+1)"><h2>&#10094;</h2></a>
		       <a class="controls" id="rightCtrl" onclick="nextSlide(-1)"><h2>&#10095;</h2></a>
		   </div>
			<% if(product.length) { %>
			    <% for(var i=0;i< product.length;i++) { %>
			    	<div class="productBox">
				    	<img src="/productImages/<%= product[i].image %>" style="width:250px;height:250px">
				    	<form action="/home/product" method="get" target="_blank">
				    		<button style="font-size:120%;border:none;background-color:white;color:#3CB371;" type="submit" name="product" value="<%= product[i].name %>"><%= product[i].name %></button>
				    	</form>
				    	<p style="font-size:80%;padding:1%;">Tags: <%= product[i].keywords %></p>
				    </div>
			    <% } %>
			<% } else { %>
          <p style="margin:10%;font-size:150%;">Sorry, No Products available for your search :(</p>
        <% } %>
		</div>
	</div>
	
	
</body>
<script type="text/javascript">
	var slideIndex=1;
	  var factor=1;
	  switchSlides(slideIndex);
            
            setInterval(function addSlide()
            {
            	slideIndex+=factor;
            	//console.log(slideIndex);
            	switchSlides(slideIndex);
            	 
            },5000);
            function switchSlides(n)
            {
               var slides=document.getElementsByClassName("slides");
               if(n>slides.length)
               	  slideIndex=1;
               	if(n<1)
               		slideIndex=slides.length;
               	for(var i=0;i<slides.length;i++)
               		slides[i].style.display="none";
               	slides[slideIndex-1].style.display="block";
            }
            function nextSlide(x)
            {
            	slideIndex+=x;
            	switchSlides(slideIndex);
            }
</script>
</html>